@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

body{
    height:100vh;
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
.container-fluid{
    margin: 0!important;
    padding: 0!important;
    height:100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
@media only screen and (max-width:480px){
    body{
        margin: 0!important;
        padding: 0!important;
    }
    .container-fluid{
        width: 100vw !important;
        height:auto!important;
        display: block!important;
    }
    .firstColumn{
        width:100%!important;
        height:auto!important;
        background-size: cover!important;
        display: flex!important;
        flex-direction: column-reverse!important;
        justify-content: flex-start!important;
        align-items: stretch!important;
        flex-wrap: wrap!important;
        padding-top:50px;
    }
    .secondColumn{
        width: 100%!important;
        padding: 30px !important;
    }
    .cardDetailsForm{
        width: 100%!important;
        margin-top: 100px!important;
        margin-left: 0!important;
    }
    .frontCard{
        width:85%!important;
        left:5%!important;
        margin-bottom:-70px!important;
        z-index: 2;
    }
    .backCard{
        margin-bottom:-80px!important;
        width:85%!important;
        right:-0%!important;
        top: 0!important;
    }
    .cardNumber{
        font-size: 17px!important;
        bottom: 45px!important;
        left:20px!important;
    }
    .cardLogo{
        top:15px!important;
        left:15px!important;
    }
    .cardName{
        bottom:15px!important;
        left: 15px !important;
        margin-bottom: 0!important;
        font-size:13px!important;
    }
    .cardExpiry{
        bottom: 15px !important;
        right: 15px !important;
        margin-bottom: 0!important;
        font-size:13px!important
    }
    label{
        font-size: 10px!important;
        letter-spacing: 1px!important;
    }
    .cardDetailsForm .row .col .form-control{
        padding:7px!important;
        border-radius: 5px;
        font-family: 'Space Grotesk', sans-serif;
        font-size: 15px!important;
    }
    .thankYou{
        width: 100%!important;
        margin-left:0!important;
        margin-top:100px;
    }
}
@media screen and (max-width:960px) and (min-width:481px){
    .container-fluid{
        width: 100vw!important;
        height:auto!important;
        display: block!important;
    }
    
    .firstColumn{
        width:100%!important;
        height:auto!important;
        background-size: cover!important;
        display: flex!important;
        flex-direction: column-reverse!important;
        justify-content: flex-start!important;
        align-items: stretch!important;
        flex-wrap: wrap!important;
        padding-top:50px;
    }
    .secondColumn{
        width: 60%!important;
        padding: 30px !important;
        margin:0 auto;
    }
    .cardDetailsForm{
        width: 100%!important;
        margin-top: 100px!important;
        margin-left: 0!important;
    }
    .frontCard{
        width:85%!important;
        left:15%!important;
        margin-bottom:-70px!important;
        z-index: 2;
    }
    .backCard{
        margin-bottom:-120px!important;
        width:85%!important;
        right:-30%!important;
        top: 0!important;
    }
}

.firstColumn{
    width:35%;
    position:relative;
    background-image: url('images/bg-main-desktop.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap!important;
    overflow: visible!important;
    z-index: 99;
}
.secondColumn{
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:65%;
}
.frontCard, .backCard{
    position:relative;
    margin:20px 0;
}
.frontCard{
    left:30%;
}
.backCard{
    right:-52%;
}
.img-fluid{
    max-width: 100%!important;
    height:auto!important;
    object-fit: cover;
}
/**********First Column Front card and back card*************/
.cardLogo, .cardNumber, .cardName, .cardExpiry, .cardCVV{
    position:absolute;
    font-family: 'Space Grotesk', sans-serif;
    color:#fff;
    font-weight: 500;
}
.cardLogo{
    top:30px;
    left:30px;
}
.cardNumber{
    bottom:60px;
    left:30px;
    color:#fff;
    letter-spacing: 4px;
    font-size:27px;
    text-transform: uppercase;
}
.cardName{
    bottom:10px;
    left:30px;
    font-size:15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.cardExpiry{
    bottom:10px;
    right:30px;
    font-size:15px;
    letter-spacing: 1px;
}
.cardCVV{
    top:45%;
    right:55px;
    font-size:15px;
    letter-spacing: 1px;
}

/************second column form******************/
.cardDetailsForm{
    width:43%;
    margin-left: 150px;
}

label{
    text-transform: uppercase;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 12px;
    font-weight:600;
    letter-spacing: 2px;
    color:hsl(278, 68%, 11%);
    display:block!important;
    margin-bottom:5px;
}   
.dateAndCvv{
    display: flex;
    flex-direction: row;
}
.row{
    flex:1;
    margin-top:30px!important;
}
.col{
    padding:0 5px!important;
}
.cardDetailsForm .row .col .form-control{
    padding:7px;
    border-radius: 7px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
}
.form-control::placeholder{
    color: #d5d5d5!important;
}
.btn{
    background-color: hsl(278, 68%, 11%)!important;
    border:none!important;
    width: 100%;
    padding:14px!important;
    border-radius: 7px!important;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    margin-top:30px;
}

/********Error in Form**************/
.cardDetailsForm p{
    font-family: 'Space Grotesk', sans-serif;
    font-size:15px;
    color:hsl(0, 100%, 66%);
    margin-top:5px;
}

/**********Thank You****************/
h3{
    font-family: 'Space Grotesk', sans-serif;
    font-size:25px;
    color: hsl(278, 68%, 11%);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top:30px!important;
}
.thankYou p{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color:hsl(279, 6%, 55%);
}
.thankYou{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
}

.hide{
    display:none;
}
.frontCardDetails, .backCardDetails{
    position: relative;
}